@font-face {
    font-family: "IBM-Font";
    src: url("/font/WebPlus_IBM_BIOS.woff2") format("woff2"),
        url("/font/WebPlus_IBM_BIOS.woff") format("woff");
}

* {
    font-family: "IBM-Font";
    font-size: 12px;
    color: white;
    overflow-x:visible;
}

p,
a, abbr {
    color: white;
    font-family: "IBM-Font";
}

p:first-of-type,
div.summary>p:nth-child(2) {
    padding-top: 3.513vh;
}

p:last-of-type,
div.summary>p:nth-child(2) {
    padding-bottom: 3.513vh;
}

div.summary>p:nth-child(2) {
    margin-top: 1.756vh;
}

p {
    background-color: #6B888E;
    padding: 3.513vh;
    margin: -3.513vh;
    border-radius: 1.756vh;
    overflow: clip;
}

div.summary p {
    background-color: transparent;
    overflow: clip;
}

h1,
h2,
h3 {
    color: white;
    font-family: "IBM-Font";
    font-size: 24px;
}

header {
    background-image: url(./images/birds.png);
    object-fit: cover;
    background-position: 12vw;
}

header>h1::before {
    content: url(/images/s-sun.png);
    padding-right: 4.444vh;
    padding-left: 3.513vh;
}

#zen-intro > header > h1 {
    display: flex;
    justify-self: center;
    border-top: 0.527vh solid white;
    border-bottom: 0.527vh solid white;
    align-items: center;
}

div h2,
div h3,
div h4 {
    justify-self: center;
    border-top: 0.527vh solid white;
    border-bottom: 0.527vh solid white;
    padding: 1.054vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    margin: 7.025vh;
    overflow: clip;
}

header>h1::after {
    content: url(images/smoonlight.png);
    padding-left: 3.513vh;
}

header>h2::before {
    content: url(/images/msun.png);
    position: absolute;
    top: 12.5%;
    left: 50vw;
    transform: translateX(-50%);
    margin-top: 1.756vh;
}

header> h2:only-of-type {
    margin-top: 21.076vh;
}

div.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    overflow: clip;
}

div.summary ~ div.preamble>h3 {
    display: flex;
    justify-self: flex-start;
    z-index: 5;
    border-color: white;
    color: #4C408E
}



div.preamble>h3::after {
    content: url(/images/cloudslong.png);
    position: absolute;
    left: 1vw;
    top: 56vh;
    animation: 10ms 1 normal slide-right;
    animation-timeline: view();
    animation-range-start: 20vw;
    z-index: -1;
}

div.preamble p {
    margin-left: -1vw;
    margin-right: 2vw;
    animation: 1000ms normal slide-right;
    overflow: clip;
}

@keyframes slide-right {
    from {
        translate: -50vw 0;

    }

    to {
        translate: 1.756vh 0;
    }
}

div.explanation>h3::before {
    content: url(/images/cloudslong.png);
    position: absolute;
    right: 1vw;
    top: 113vh;
    z-index: -1;
    animation: 10ms 1 normal slide-left;
    animation-timeline: view();
    animation-range-start: -90vh;
    overflow: clip;
}

div.explanation>h3:nth-last-child(3) {
    display: flex;
    justify-self: flex-end;
    margin-top: 14%;
    border-color: white;
    color:#4C408E;
}

div.explanation p {
    margin-left: 3.513vh;
    animation: 1000ms 1 normal slide-left;
    animation-timeline: view();
    animation-range-start: -1400vh;
    /* animation-timeline: scroll() */
}

@keyframes slide-left {
    from {
        translate: 1756.312vh 0;
    }

    to {
        translate: -1.756vh 0;
    }
}

div.participation>h3:nth-last-of-type(1) {
    justify-self: center;
    margin-top: 35.126vh;
    color: #4C408E
}

div.participation>h3::after {
    content: url(/images/cloudslong.png);
    position: absolute;
    left: 15vw;
    top: 176vh;
    z-index: -1;
    animation: 1000ms 1 normal slide-right-shrink;
    animation-timeline: view();
    overflow: clip;
    animation-range-start: -30vh;
}

@keyframes slide-right-shrink {
    from {
        translate: -170vw 0;
        transform: scale(0.00000000000000000001)
    }

    to {
        translate: 1.756vh 0;
        transform: scale(1)
    }
}

@keyframes slide-left-shrink {
    from {
        translate: 440vw 0;
        transform: scale(0.00000000000001)
    }

    to {
        translate: -1.756vh 0;
        transform: scale(1)
    }
}

div[class~=main] {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}

[id|=zen-benefits] {
    width: calc(85vw / 2);
    margin-top: 14.815vh;
}

[id|=zen-benefits] + div[id^=zen-req] {
    width: calc(85vw / 2);
    margin-top: 14.815vh;
}

[id|=zen-benefits] > h3, div[id^=zen-req] > h3 {
    border-color: white;
    color: #4C408E;
}

[id|=zen-benefits] > h3::after {
    content: url(/images/clouds.png);
    position: absolute;
    left: 6vw;
    top: 231vh;
    z-index: -1;
    overflow: clip;
    animation: 10ms 1 normal slide-right;
    animation-timeline: view();
    animation-range-start: -40vh;
}

[id|=zen-benefits] p {
    background-color: #B0D5DD;
    animation: 100ms 1 normal slide-right;
    animation-timeline: view();
    animation-range-start: -700vh;
}

div[id$=-requirements] > h3::before {
    content: url(/images/clouds.png);
    position: absolute;
    top: 231vh;
    right: 6vw;
    z-index: -1;
    overflow: clip;
    animation: 10ms 1 normal slide-left;
    animation-timeline: view();
    animation-range-start: -380vh;
}

div[id*=en-req] p {
    background-color: #B0D5DD;
}

footer {
    position: absolute;
    bottom: -293vh;
    left: 50vw;
    transform: translateX(-50%);
}

aside {
    margin-top: 17.563vh;
}

aside::after {
    content: url(/images/Earth.svg);
    position: absolute;
    bottom: -327.5vh;
    left: 50vw;
    transform: translateX(-50%);
}

/* aside::after {
    content: "";
    position: absolute;
    bottom: -360vh;
    height: 600px;
    width: 600px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;
    background-image: url(/images/e1.png);
    background-size: 210vh;
    aspect-ratio: 1;
    box-shadow: inset 0px 0px 5px #FDFfF29E;
    animation: earth 60s infinite linear;
    left: 50vw;
    transform: translateX(-50%);
} */
/* probably cant use this bc of the rules 
delete all files related and this code if 
uploading to zen garden*/
/* aside::after {
    content: url(/images/earth.png);
    position: absolute;
    bottom: -360vh;
    left: 50vw;
    transform: translateX(-50%);
} */

/* @keyframes earth {
    0% {
        background-position: 0 center;
    }

    100% {
        background-position: 94.792vw center;
    }

    0% {
        background-position: 0 center;
    }
} */

aside > div.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div.design-selection,
[id$=archives],
[id*=resources] {
    flex-flow: row wrap;
    width: calc(97vw /3);
}

div.zen-resources::after {
    content: url(/images/lmoonlight.png);
    position: absolute;
    top: 372vh;
    animation: 1s infinite normal sun-spin;
}

@keyframes sun-spin {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0deg);
    }
} 
abbr {
    color: rgb(218, 69, 255);
}
a:only-child {
    color: white;
}

a:active {
    color: blue;
}

a:hover {
    color: rgb(159, 201, 255);
}

a:visited {
    color: rgb(218, 69, 255);
}

a:link {
    color: #5892ff;
}

p::selection {
    color: yellow;
}

p::first-letter {
    font-size: 14px;
}

[id|=zen-benefits] abbr, div[id^=zen-req] abbr {
    color:aqua;
}

[id|=zen-benefits] a, div[id^=zen-req] a {
        color: rgb(15, 255, 175);
}

[id|=zen-benefits] a:visited, div[id^=zen-req] a:visited {
    color: rgb(235, 155, 255);
}

h2 abbr {
    font-size: 24px;
}

:not(div.summary>p) {
    line-height: 2vh;
}

div.participation > p {
    padding: 3.513vh;
    padding-left: 6vh;
    padding-right: 6vh;
    overflow: clip;
}

:root:nth-of-type(1) {
    display: flex;
    flex-flow: row wrap;
    background-color: #4CAAC8;
    background-size: 99%;
    overflow-x: clip;
}